<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello Spring Boot</h1>
    <a href="/oauth2/authorize/google?redirect_uri=http://localhost:8080/goodgood" class="btn btn-success active" role="button">Google Login</a>
    <a href="/oauth2/authorize/naver" class="btn btn-secondary active" role="button">Naver Login</a>
    <a href="/oauth2/authorize/kakao?redirect_uri=http://localhost:8080/goodgood" class="btn btn-secondary active" role="button">Kakao Login</a>
</body>
</html>