Type : {{title}}

코드는 상수입니다.

- 설명에 특별한 언급이 없는한 대문자로 입력해주셔야 합니다.

- 소문자로 입력해야 하는 경우도 있습니다.
|===
|코드|코드명 및 설명

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{description}}
{{/fields}}
|===